.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.title {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.container {

}

.img {
    width: 200px;
}

.spinner {
    background: var(--main-bg);
    border-radius: 100%;
    color: white;
    display: inline-block;
    font-size: 35px;
    height: 45px;
    line-height: 45px;
    margin: 2px;
    opacity: 0;
    text-align: center;
    width: 45px;
    animation-name: zoom-in;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation-iteration-count: infinite;

    &.spinner-delay-0 {
        animation-delay: 0s;
    }

    &.spinner-delay-1 {
        animation-delay: 0.12s;
    }

    &.spinner-delay-2 {
        animation-delay: 0.24s;
    }

    &.spinner-delay-3 {
        animation-delay: 0.36s;
    }

    &.spinner-delay-4 {
        animation-delay: 0.48s;
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}

/* Type 3 Spinner */
.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: var(--second-bg);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
