.list-group-item {
	background-color: transparent;
	border-color: 
}

.app-content {
  overflow: overlay;
}

.feed-board {
  display: none;
  height: 100%;
}

.feed-loading{
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}

.loader {
  display: inline-flex;
  margin: auto;
}

#navigation-bar {
    /*position: fixed;*/
    margin-left: 20px;
    width: 120px;
    color: white;
    float: left;
}

#navigation-dropdown {
	  display: none;
    /*position: fixed;*/
    margin-top: 10px;
    color: white;
    width: 100%;
}

#navigation-dropdown button {
	margin: auto;
	width:	120px;
	border-color: gray;
	display: block;
	background-color: transparent;
}

#navigation-dropdown ul {
	background-color: darkgray;
  min-width: 120px;
  left: calc(50% - 60px);
}

#navigation-bar a {
    color: white;
}

#content {
	margin-left: 170px;
	margin-right: 10px;
  margin-top: 20px;
	color: white;
}

#content a {
	color: white;	
}

#content table {
  color: white;
}

@media screen and (max-width: 600px) {
  #navigation-bar {
  	display: none;
  }

  .feed-board {
    display: none;
    height: 100%;
  }

  #navigation-dropdown {
  	display: block;
  }

  #content {
  	margin: 0px;
  	margin-top: 20px;
  }

  #content table {
    border: 0;
  }

  #content table caption {
    font-size: 1.3em;
  }
  
  #content table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  #content table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  #content table td {
    display: block;
    font-size: .8em;
    text-align: right;
    min-height: 30px;
    border: 0px;
  }

  #content table td a {
  	display: block;
  	margin-left: 60px;
  }
  
  #content table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #content table td:last-child {
    border-bottom: 0;
  }
}