.list-group-item {
	background-color: transparent;
}

.app-content {
  --axis: #4d7384;
  --green-light: #7bcc3a;
  --green-mint: #7bcc3a;
  --green-mint-light: #7bcc3a;
  --green-neon: #7bcc3a;
  --red-chilli: #f74b4b;
  --red-desire: #f74b4b;
  --red-desire-light: #f74b4b;
  --blue-royal: #435966;
  --active: #98c0cc;
  --main-bg: #112027;
  --second-bg: #0f1315;
  --third-bg: #005068;
  --fourth-bg: #181819;
  --text: #e6e6e6;
  --text-second: #488286;
  --border: #164865;
  --hover: #254954; 

  overflow: overlay;
  background: var(--main-bg);
  font-size: 12px;
  font-family: 'Catamaran', sans-serif;
  height: 100%;
}

.feed-board {
  display: none;
}

.feed-loading{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader {
  display: inline-flex;
  margin: auto;
}

#navigation-bar {
    margin-left: 20px;
    width: 120px;
    color: white;
    float: left;
}

#navigation-bar ul {
    background-color: var(--border);
}

#navigation-dropdown {
	  display: none;
    margin-top: 10px;
    color: white;
    width: 100%;
}

#navigation-dropdown button {
	margin: auto;
	width:	120px;
	border-color: gray;
	display: block;
	background-color: transparent;
  font-size: 12px;
  font-family: 'Catamaran', sans-serif;
}

#navigation-dropdown ul {
	background-color: darkgray;
  min-width: 120px;
  left: calc(50% - 60px);
}

#navigation-bar a, h3 {
  color: white;
  font-size: 12px;
  font-family: 'Catamaran', sans-serif;
}

#content {
	margin-left: 10px;
  margin-right: 20px;
  flex: 1;
  color: white;
}

#content a {
	color: white;	
}

#content table, h1 {
  color: white;
  font-size: 12px;
  font-family: 'Catamaran', sans-serif;
}

#content table td, th {
  border-color: var(--third-bg);
}

#content table thead {
  background-color: var(--blue-royal);
}

#content table tbody tr:nth-child(even) {
  background-color: var(--second-bg);
}

#content table tbody tr:nth-child(odd) {
  background-color: var(--fourth-bg);
}

#content table tbody tr:hover {
  background-color: var(--hover);
}

#content table tbody td[data-label=Topics] {
  color: var(--green-light);
}

#content table tbody td[data-label=Time], td[data-label=Source]  {
  color: #7b7b7b;
}

@media screen and (max-width: 600px) {
  #navigation-bar {
  	display: none;
  }

  .feed-board {
    flex-direction: column;
    height: 100%;
  }

  #navigation-dropdown {
  	display: block;
  }

  #content {
  	margin: 0px;
  }

  #content table {
    border: 0;
  }

  #content table caption {
    font-size: 1.3em;
  }
  
  #content table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  #content table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    /*margin-bottom: .625em;*/
  }
  
  #content table td {
    display: block;
    font-size: .8em;
    text-align: right;
    min-height: 30px;
    border: 0px;
  }

  #content table td a {
  	display: block;
  	margin-left: 60px;
  }
  
  #content table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
  
  #content table td:last-child {
    border-bottom: 0;
  }
}